// variables
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$textcolor: gray;
@import "./menu";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $textcolor;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}
.mainlogo {
  padding: 10px 0;
  img {
    width: 50%;
  }
}
//end logo

h1,
h2,
h3 {
  font-family: "roboto", cursive;
  color: black;
  font-size: 18px;
}
.header {
  .explore {
    display: inline-block;
    background-image: linear-gradient($secondary, $primary);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.07), 0 8px 12px rgba(0, 0, 0, 0.14);
    color: #ffff;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 50px;
    margin-bottom: 2em;
    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.28),
        0 12px 16px rgba(0, 0, 0, 0.28);
    }
  }
  .hearder1 {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    box-shadow: inset 0 6px 5px -3px rgba(0, 0, 0, 0.3);
  }
  .hearder2 {
    text-align: center;
    background-color: #f1f1f1;
    padding: 1.5em 1.5em;
  }
}
//end hearder
#section-a {
  h2 {
    text-align: left;
    margin: 1em;
  }

  .btn {
    display: inline-block;
    background-color: #f1f1f1;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    width: 90%;
    margin: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.28),
        0 12px 16px rgba(0, 0, 0, 0.28);
    }
  }
  p {
    display: flex;
    text-align: left;
    align-items: center;
  }
  .number {
    margin-right: 10px;
    background-color: $primary;
    width: 25px;
    height: 40px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: -15px;
    padding-left: 15px;
    border-radius: 50%;
  }
  .fas {
    margin-right: 10px;
    font-size: 20px;
  }

  .store {
    color: $primary;
  }
}
//end sectionA
#section-b {
  background-color: #f1f1f1;
  margin: auto;
  padding: 1em 1em;
  margin-top: 1em;
  text-align: left;
  border-radius: 5px 5px;
  h3 {
    margin-top: 10px;
    padding-left: 1em;
  }
  p {
    padding-left: 1em;
    padding-bottom: 1em;
  }

  .card {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
  }
  img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
  }
  .new {
    background-color: $tertiary;
    width: 50px;
    color: #22ac89;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 5px 5px;
    text-align: center;
  }
  .heart {
    position: absolute;
    bottom: 40px;
    right: 35px;
    font-size: 25px;
  }

  .heart-bg {
    opacity: 0;
    position: absolute;
    bottom: 40px;
    right: 35px;
    font-size: 25px;
    &:hover {
      .heart {
        opacity: 0;
      }
      opacity: 1;
      color: $secondary;
      transition: all 2s ease-in-out;
    }
  }
}
//end sectionB
#main-footer {
  background: rgb(54, 53, 53);
  color: white;
  text-align: left;
  padding: 1em 1em;

  h1 {
    font-family: shrikhand;
    color: white;
  }
  .fas {
    margin-right: 10px;
  }
  .contact a {
    text-decoration: none;
    color: white;
  }
}
